#chat-screen {
    background-color: #abc1d1;
    height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .stauts-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .stauts-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    z-index: 1;
    top: 6px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-chat {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.7s linear;
}

.chat-timestamp {
    text-align: center;
    border-radius: 25px;
    background-color: #92a4b2;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 25px;
}

@keyframes leftfadeIn {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: none;
    }
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    animation: leftfadeIn 1.5s ease-in-out;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.message__author {
    opacity: 0.8;
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    font-weight: 500;
    font-size: 18px;
}

.message__time {
    opacity: 0.8;
    font-size: 13px;
    margin: 0 5px;
}

@keyframes rightfadeIn {
    from {
        transform: translateX(300px);
    }
    to {
        transform: none;
    }
}

.message-row--own {
    justify-content: flex-end;
    transform: translateX(300px);
    animation: rightfadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius: 15px;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
    width: 10%;
}

.reply .reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    padding: 15px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply i {
    opacity: 0.5;
}

.reply__column:last-child button {
    position: absolute;
    right: 10px;
    top: 8px;
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.reply__column button i {
    opacity: 1;
}

.reply__column:last-child > i {
    position: absolute;
    right: 50px;
    top: 7px;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-grin-beam,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin-beam,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 95vw;
    background-color: var(--yellow);
    transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}