.find-icons {
    display: flex;
    justify-content: space-between;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    margin: 30px;
}

.find-icons__icon span {
    font-size: 20px;
    font-weight: 500;
}

.recommended-friends {
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 25px 0;
    margin: 25px 0;
}

.recommended-friends__title {
    font-size: 18px;
    color: var(--gray-color);
}

.recommended-friends span {
    margin: 110px 0;
    display: block;
    text-align: center;
    font-size: 20px;
    color: var(--gray-color);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 35%;
    margin-right: 5px;
}

.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}

.divider {
    width: 1px;
    height: 15px;
    background-color: var(--gray-color);
    margin: 0 5px;
}

.open-post__member-status {
    color: #ffb0e0;
}

.open-post__column {
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 7px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.open-post__heart-count span {
    margin-left: 3px;
}