.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgb(120, 120, 120, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav_newchat {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    position: absolute;
    right: -15px;
    top: -15px;
}

.nav__notice {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -15px;
}