.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px 0 25px;
    margin-bottom: 25px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__notice {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 40px;
}